 body {
   font-family: sans-serif;
   background-image: url(como-adicionar-fundos-divertidos-e-personalizados-aos-seus-chats-do-whatsapp-3.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   margin: 0;
 }

 .conteiner {
   height: 85%;
   width: 100%;
 }

 #chat {
   border: 1px solid #ccc;
   overflow-y: auto;
   height: 100%;
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 8px;
   margin-bottom: 10px;
   border: none;
 }

 .envio {
   padding: 10px;
   display: flex;
   gap: 8px;
 }

 .msg {
   max-width: 60%;
   padding: 8px 12px;
   border-radius: 12px;
   word-wrap: break-word;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.116);
 }

 .enviada {
   background-color: #0597f1;
   color: #ffffff;
   align-self: flex-end;
   border-bottom-right-radius: 0;
 }

 .recebida {
   background-color: #035dd3;
   color: white;
   align-self: flex-start;
   border-bottom-left-radius: 0;
 }

 input {
   width: 100%;
   padding: 11px;
   font-size: 16px;
   border-radius: 10px;
   border: none;
   background: #2525251c;
   border-left: 1px solid rgba(235, 235, 235, 0.445);
   border-top: 1px solid rgba(214, 214, 214, 0.452);
   backdrop-filter: blur(4px);
   filter: saturate(1.1);
 }

 input:focus {
   outline: none;
   box-shadow: none;
 }

 input::placeholder {
   color: white;
 }


 button {
   width: 10%;
   padding: 8px;
   font-size: 16px;
   cursor: pointer;
   background: linear-gradient(0deg,
       rgb(0, 132, 255), rgb(0, 38, 255));
   border: none;
   border-radius: 10px;
 }

 #btn-enviar {
   color: rgba(255, 255, 255, 0.842);
 }

 #h2 {
   color: white;
 }

 .titulo {
   display: flex;
   height: 40px;
   display: flex;
   padding-left: 10px;
   align-items: center;
   background: linear-gradient(0deg,
       rgb(0, 132, 255), rgb(0, 38, 255));
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.445);
 }