 body {
   font-family: sans-serif;
   background: black;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   margin: 2dvw;
   margin-bottom: 0 !important;
 }


 #chat {
   overflow-y: auto;
   height: 40% !important;
   display: flex;
   flex-direction: column;
   gap: 8px;
   margin-bottom: 10px;
 }

 .envio {
   display: flex;
   gap: 8px;
 }

 .msg {
   max-width: 60%;
   padding: 8px 12px;
   border-radius: 12px;
   word-wrap: break-word;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.116);
 }

 .enviada {
   background-color: #0597f1;
   color: #ffffff;
   align-self: flex-end;
   border-bottom-right-radius: 0;
 }

 .recebida {
   background-color: #035dd3;
   color: white;
   align-self: flex-start;
   border-bottom-left-radius: 0;
 }

 input {
   width: 100%;
   padding: 11px;
   font-size: 16px;
   border-radius: 10px;
   border: none;
   background: #2525251c;
   border-left: 1px solid rgba(235, 235, 235, 0.445);
   border-top: 1px solid rgba(214, 214, 214, 0.452);
   backdrop-filter: blur(4px);
   filter: saturate(1.1);
 }

 input:focus {
   outline: none;
   box-shadow: none;
 }

 input::placeholder {
   color: white;
 }


 button {
   width: 10%;
   padding: 8px;
   font-size: 16px;
   cursor: pointer;
   background: linear-gradient(0deg,
       rgb(0, 132, 255), rgb(0, 38, 255));
   border: none;
   border-radius: 10px;
 }

 #btn-enviar {
   color: rgba(255, 255, 255, 0.842);
 }

 #h2 {
   color: white;
 }

 .titulo {
   display: flex;
   height: 40px;
   display: flex;
   padding-left: 10px;
   align-items: center;
   background: linear-gradient(0deg,
       rgb(0, 132, 255), rgb(0, 38, 255));
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.445);
 }


 #player {
   width: 100%;
   /* largura desejada */
   height: 300px;
   /* altura desejada, mantendo proporção 16:9 */
   position: relative;
 }

 /* iframe dentro do player para ocupar todo espaço */
 #player iframe {
   width: 100% !important;
   height: 100% !important;
   position: absolute;
   top: 0;
   left: 0;
   border: none;
 }


 #ytUrl {
   width: 100% !important;
   margin-bottom: 20px;
 }

 input {
   color: #035dd3;
 }